<form [formGroup]="form">
    <div class="flex flex-row justify-center">
        <div class="w-2/5 xs:w-full space-y-3 xs:p-2">
            <div class="flex flex-row justify-between items-center bank">
                <div class="flex flex-col justify-start align-baseline">
                    <div class="w-[170px]">
                        <mat-form-field class="w-full">
                            <mat-select (selectionChange)="selectType($event)" formControlName="account"
                                (selectionChange)="selected_account($event)">
                                <ng-container *ngFor="let item of accounts">
                                    <mat-option [value]="item.id" style="font-size: 14px;">{{item.name}}</mat-option>

                                </ng-container>
                            </mat-select>
                        </mat-form-field>

                    </div>
                    <div class="flex" style="font-size: 10px;color: gray;">Saving A/c</div>
                </div>
                <div class="flex flex-col justify-between">
                    <div style="font-size: 14px;color: green;">
                        {{account_balance|currency:'INR'}}
                    </div>
                    <div style="font-size: 10px;color: gray;">balance</div>

                </div>
            </div>
            <p class="flex" style="color: rgb(56, 53, 53);margin-top: 18px;">Select Dates</p>
            <div class="w-full flex flex-row justify-between">
                <div class="w-[40%]">
                    <mat-form-field class="w-full" appearence="fill">
                        <input matInput [matDatepicker]="picker" placeholder="start date"
                            formControlName="start_date">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>

                </div>
                <div class="w-[40%]">
                    <mat-form-field class="w-full">
                        <input matInput [matDatepicker]="picker1" placeholder="end date"
                            formControlName="end_date">
                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                        <mat-datepicker #picker1></mat-datepicker>
                    </mat-form-field>

                </div>
                <div class="h-[45px] w-[45px]">
                    <button mat-button class="bg-blue-700 text-white  h-full w-full" style="border-radius: 10px;"
                        (click)="go()" [disabled]="go_btn">Go</button>
                </div>

            </div>
            <p *ngIf="go_btn && form.controls['start_date'].touched && form.controls['end_date'].touched"
                style="font-size: 10px;color: red;text-align: start;margin-top: -10px;">please select a valid date range
                date</p>
            <div class="w-full flex flex-row justify-between items-center">
                <button style="border-width: 1.9px;" class=" border-purple-600 text-purple-600 px-3 py-1 rounded-md text-[12px]"
                    (click)="openDowloadWindow()">{{'dowload'|uppercase}}</button>
                <div style="height: 29px;width: 29px;" class="cursor-pointer hover:bg-gray-300 p-2 rounded-full"
                    (click)="order_data()">
                    <img src="../../../../../assets/images/sort highest lowest.png" style="height: 100%;width: 100%;"
                        class="w-full h-full" matTooltip="order" />
                </div>

            </div>
            <div *ngFor="let item of transaction_history" class="card-item">
                <div class="flex flex-col items-baseline">
                    <div style="font-size: 14px;font-weight: 400;">
                        {{item.category}}
                    </div>
                    <div style="font-size: 10px;color: rgba(0, 0, 255, 0.397);">{{item.bank_name}}</div>
                    <div style="font-size: 11px;color: rgb(128, 124, 124);">
                        <!-- {{item|json}} -->
                        {{item.desc}}
                    </div>
                </div>
                <div class="flex flex-col">
                    <div [ngStyle]="{'color': item.flag == 1?'green':'red'}" style="font-size: 12px;">
                        <span *ngIf="item.flag == 1">+ </span> <span *ngIf="item.flag == 0">- </span>{{item.amount |
                        currency:'INR'}}
                    </div>
                    <div style="font-weight: 400;font-size: 11px;color: rgb(128, 124, 124);">
                        {{item.date}}
                    </div>
                </div>
            </div>
            <div *ngIf="transaction_history.length==0">
                No transactions
            </div>
        </div>
    </div>

</form>

<template>
    <div style="width: 100%;padding: 5px;" id="reportContent">
        <div style="width: 30px;height: 30px;">
            <img src="../../../../../assets/sacumensecurity_logo.png" style="height: 100%; width: 100%;" />
        </div>
        <div
            style="width: 100%;display: flex;justify-content: center;flex-direction: column;align-items: center;gap: 10px;">
            <h3 style="color: blueviolet;text-decoration: underline;">STATEMENT OF ACCOUNT</h3>
            <div style="font-size: 14px;display: flex;flex-direction: row;justify-content: center;width: 100%;gap: 10px;"
                class="flex flex-row justify-between">
                <table style="font-size: 13px;">
                    <tr>
                        <td style="padding: 4px 8px">
                            customer name 
                        </td>
                        <td style="padding: 4px 8px">
                            : <span style="margin-left: 2px;color: blue;">{{cardholder_name}} </span>
                        </td>
                        <td style="padding: 4px 8px">
                            email id 
                        </td>
                        <td style="padding: 4px 8px">
                            : <span style="margin-left: 2px;color: blue;">{{email}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding: 4px 8px">
                            account type
                        </td>
                        <td style="padding: 4px 8px">
                            :<span style="margin-left: 2px;color: blue;">{{bank_name}}</span>
                        </td>
                        <td style="padding: 4px 8px">
                            account number : 
                        </td>
                        <td style="padding: 4px 8px">
                            : <span style="margin-left: 2px;color: blue;">{{account_no}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding: 4px 8px"></td>
                        <td style="padding: 4px 8px"></td>
                        <td style="padding: 4px 8px">
                            total balance :
                        </td>
                        <td style="padding: 4px 8px">
                            : <span style="margin-left: 2px;color: blue;">{{account_balance |currency:'INR'}}</span>
                        </td>
                    </tr>
                </table>



            </div>
            <div style="width: 80%;max-height: 450px;overflow: auto;">
                <table style="border: 1px solid rgba(0, 0, 0, 0.151);width: 100%;border-collapse: collapse;">
                    <thead style="font-size: 13px;background-color: rgba(0, 0, 255, 0.219);">
                        <td style="padding: 4px 10px;text-align: center;border: 1px solid;">Transaction <br>date</td>
                        <td style="padding: 4px 10px;text-align: center;border: 1px solid;">Particulars</td>
                        <td style="padding: 4px 10px;text-align: center;border: 1px solid;">income</td>
                        <td style="padding: 4px 10px;text-align: center;border: 1px solid;">expense</td>
                    </thead>
                    <tbody style="font-size: 12px;">
                       <ng-container *ngIf="transaction_history.length>0">
                           <tr *ngFor="let item of transaction_history" >
                               <td style="padding: 4px 10px;border: 1px solid rgba(128, 128, 128, 0.253);">
                                   {{item.datetime}}
                               </td>
                               <td style="padding: 4px 10px;border: 1px solid rgba(128, 128, 128, 0.253);;">
                                   <div>{{item.category}}</div>
                                   <div style="color: rgba(128, 128, 128, 0.623);">{{item.desc}}</div>
                               </td>
                               <td style="padding: 4px 10px;border: 1px solid rgba(128, 128, 128, 0.253);color: green;">
                                   {{item.flag ==1 ?(item.amount|currency:'INR'):'-'}}
                               </td>
                               <td style="padding: 4px 10px;border: 1px solid rgba(128, 128, 128, 0.253);color: red;">
                                   {{item.flag ==0?(item.amount|currency:'INR'):'-'}}
                               </td>
                           </tr>

                       </ng-container>

                       <ng-container *ngIf="transaction_history.length==0">
                           <tr style="text-align: center;">
                               <td colspan="4" style="padding: 5px;">No transactions</td>
                           </tr>
                       </ng-container>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>