body{
    background-color: rosybrown;
    width: 100%;
}
.card-item {
    top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgba(128, 128, 128, 0.151);
    padding: 10px;
    border-radius: 10px;
}


.bank{
    padding:5px 20px;
    border-radius: 5px;
    background-color: rgba(128, 128, 128, 0.089);
}

.mat-button{
    min-width: 0px !important;
    padding: 0px !important;
}

.history{
    border: 1px solid black;
    thead{
       background-color: rgba(128, 128, 128, 0.103);
       td{
        padding: 4px 30px;
       }
    }
}