<div style="width: 100%;display: flex;justify-content: center;">
    <!-- <div class="flex flex-row justify-between">
        <div class="cursor-pointer">
            <i class="fa fa-times" aria-hidden="true" style="font-size: 20px;" ></i>
          </div>
        <div>
            <i class="fa fa-download" aria-hidden="true" style="font-size: 20px;"></i>
        </div>
    </div> -->
    <div #reportContent id="reportContent">
       <div style="font-size: 14px;display: flex;flex-direction: row;justify-content: center;width: 100%;gap: 10px;" class="flex flex-row justify-between">
          <article>
            <div>customer name : <span style="margin-left: 2px;color: blue;">naveen</span></div>
            <div>email id : <span style="margin-left: 2px;color: blue;" >naveen@gmail.com</span></div> 

          </article>
          <article>
            <div>account type :<span style="margin-left: 2px;color: blue;">state bank of india</span></div> 
            <div>account number : <span style="margin-left: 2px;color: blue;">32938298392</span></div> 
            <div>total balance :<span style="margin-left: 2px;color: blue;">8734823</span></div> 
          </article>
       </div>
       <div>
          <table class="history">
            <thead>
                <td>Transaction date</td>
                <td>Particulars</td>
                <td>income</td>
                <td>expense</td>
            </thead>
                <tr>
                </tr>
          </table>
       </div>
    </div>
</div>